<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/home']" routerLinkActive="active" >Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">

      <table *ngIf="!carts.length > 0" class="table table-condensed">
        <thead>
            <tr class="cart_menu">
              <td>Empty Cart</td>
            </tr>
        </thead>
      </table>

      	<table *ngIf="carts.length > 0" class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cart of carts">
							<td class="cart_product">
								<a [routerLink]="['/details', cart._id]"><img [src]="cart.imageUrl" height="100px"></a>
              </td>
              <td class="cart_description">
                <h4><a [routerLink]="['/details', cart._id]">{{cart.productName}}</a></h4>
                <p>Product Code: {{cart.productCode}}</p>
              </td>
							<td class="cart_price">
                <p>₹{{cart.price}}</p>
              </td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" (click)="increamentQnt(cart)"> + </a>
									<input class="cart_quantity_input" disabled type="text" name="quantity" [value]="cart.quantity" autocomplete="off" size="2">
									<a class="cart_quantity_down" (click)="decreamentQnt(cart)"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">₹{{cart.total}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" (click)="deleteProduct(cart)"><i class="fa fa-times"></i></a>
							</td>
						</tr>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>₹{{total}}</td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>₹0</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>Free</td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>₹{{total}}</span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
  </div>
</section> <!--/#cart_items-->
<section id="do_action">
  <div class="container">
    <div class="heading">
      <h3>What would you like to do next?</h3>
      <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="chose_area">
          <ul class="user_option">
            <li>
              <input type="checkbox">
              <label>Use Coupon Code</label>
            </li>
            <li>
              <input type="checkbox">
              <label>Use Gift Voucher</label>
            </li>
            <li>
              <input type="checkbox">
              <label>Estimate Shipping & Taxes</label>
            </li>
          </ul>
          <ul class="user_info">
            <li class="single_field">
              <label>Country:</label>
              <select>
                <option>United States</option>
                <option>Bangladesh</option>
                <option>UK</option>
                <option>India</option>
                <option>Pakistan</option>
                <option>Ucrane</option>
                <option>Canada</option>
                <option>Dubai</option>
              </select>
              
            </li>
            <li class="single_field">
              <label>Region / State:</label>
              <select>
                <option>Select</option>
                <option>Dhaka</option>
                <option>London</option>
                <option>Dillih</option>
                <option>Lahore</option>
                <option>Alaska</option>
                <option>Canada</option>
                <option>Dubai</option>
              </select>
            
            </li>
            <li class="single_field zip-field">
              <label>Zip Code:</label>
              <input type="text">
            </li>
          </ul>
          <a class="btn btn-default update" href="">Get Quotes</a>
          <a class="btn btn-default check_out" href="">Continue</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="total_area">
          <ul>
            <li>Cart Sub Total <span>$59</span></li>
            <li>Eco Tax <span>$2</span></li>
            <li>Shipping Cost <span>Free</span></li>
            <li>Total <span>$61</span></li>
          </ul>
            <a class="btn btn-default update" href="">Update</a>
            <a class="btn btn-default check_out" href="">Check Out</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/#do_action-->