<div *ngFor="let product of visibleProducts" class="col-sm-3">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <img [src]="product.imageUrl" alt="" />
      <h2>₹{{product.price}}</h2>
      <p>{{product.productName}}</p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2>₹{{product.price}}</h2>
          <p>{{product.productName}}</p>
          <a (click)="productSelected(product)" [routerLink]="['/details', product._id]" routerLinkActive="active"  class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>